@keyframes gaq-dot {
  5% {
      opacity: .2
  }

  10% {
      top: -2px
  }

  15% {
      opacity: 0
  }

  25% {
      opacity: 1
  }

  40% {
      top: 0
  }

  50% {
      opacity: .5
  }
}

@keyframes animationFramesOne {
	0% {
	    transform: translate(0px,0px) rotate(0deg);
	}
	20% {
	    transform: translate(73px,-1px) rotate(36deg);
	}
	40% {
	    transform: translate(141px,72px) rotate(72deg);
	}
	60% {
	    transform: translate(83px,122px) rotate(108deg);
	}
	80% {
	    transform: translate(-40px,72px) rotate(144deg);
	}
	100% {
	    transform: translate(0px,0px) rotate(0deg);
	}
}

@keyframes rotated {
	0% {
	    -webkit-transform: rotate(0);
	    transform: rotate(0);
	}
	100% {
	    -webkit-transform: rotate(-360deg);
	    transform: rotate(-360deg);
	}
}

@keyframes clockwise {
	0% {
		-webkit-transform: rotate(0) translate(-225px) rotate(0);
	    transform: rotate(0) translate(-225px) rotate(0);
	}
	100% {
	    -webkit-transform: rotate(360deg) translate(-225px) rotate(-360deg);
	    transform: rotate(360deg) translate(-225px) rotate(-360deg);
	}
}

@keyframes scale-up-one {
	0% {
	    -webkit-transform: scale(0.5);
	    transform: scale(0.5);
	}
	40% {
	    -webkit-transform: scale(0.8);
	    transform: scale(0.8);
	}
	100% {
	    -webkit-transform: scale(0.5);
	    transform: scale(0.5);
	}
}

@keyframes scale-up-two {
	0% {
	    -webkit-transform: scale(0.7);
	    transform: scale(0.7);
	}
	40% {
	    -webkit-transform: scale(0.4);
	    transform: scale(0.4);
	}
	100% {
	    -webkit-transform: scale(0.7);
	    transform: scale(0.7);
	}
}

@keyframes scale-up-three {
	0% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
	40% {
	    -webkit-transform: scale(0.5);
	    transform: scale(0.5);
	}
	100% {
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
}

@keyframes vibrate {
	0% {
	    top: 0px;
	}
	25% {
	    top: -7px;
	}
	50% {
	    top: 0px;
	}
	75% {
	    top: 7px;
	}
	100% {
	    top: 0px;
	}
}