/********application devleopment shapes************/
.shap_dev{
	left: 4%;
    top: 27%;
}
.x_dev{
	left: 22%;
    top: 72%;
}
.curve2_dev{
	left: -25%;
    top: 0%;
}
.shap_7{
  top: 23%;
  right: 37%;
}
.dm_c2{
	left: -12%;
	top: -9%;
}
.dm_x{
	width: 10%;
    bottom: 33%;
    left: 46%;
}
.shap_9{
	bottom: 14%;
    right: 9%;
}
.dm_shap0{
	left: 4%;
    top: 64%;
}